<h1>Pablo Picasso</h1>
<p>Pablo Diego José Francisco de Paula Juan Nepomuceno María de los Remedios Cipriano de la Santísima Trinidad Ruiz y Picasso[a][b] (25 October 1881 – 8 April 1973) was a Spanish painter, sculptor, printmaker, ceramicist, and theatre designer who spent most of his adult life in France. One of the most influential artists of the 20th century, he is known for co-founding the Cubist movement, the invention of constructed sculpture,[8][9] the co-invention of collage, and for the wide variety of styles that he helped develop and explore. Among his most famous works are the proto-Cubist Les Demoiselles d'Avignon (1907) and the anti-war painting Guernica (1937), a dramatic portrayal of the bombing of Guernica by German and Italian air forces during the Spanish Civil War.</p>
<ul>
    <li>Les Demoiselles d'Avignon (1907)</li>
    <li>Guernica (1937)</li>
    <li>The Weeping Woman (1937)</li>
    <li>Girl Before a Mirror (1932)</li>
    <li>The Old Guitarist (1903–1904)</li>
    <li>La Vie (1903)</li>
    <li>Family of Saltimbanques (1905)</li>
    <li>Ma Jolie (1911–1912)</li>
    <li>Three Musicians (1921)</li>
    <li>The Dream (1932)</li>
    <li>Portrait of Gertrude Stein (1906)</li>
    <li>Portrait of Ambroise Vollard (1910)</li>
    <li>Dora Maar au Chat (1941)</li>
    <li>Women of Algiers (1955)</li>
    <li>Massacre in Korea (1951)</li>
</ul>
<a asp-action="More" asp-controller="Artist" type="button" class="btn btn-primary">More Details</a>